<div id="<%= dom_id proyecto %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Referencia:</strong>
    <%= proyecto.Referencia %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cliente:</strong>
    <%= proyecto.cliente_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Published at:</strong>
    <%= proyecto.published_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Created by:</strong>
    <%= proyecto.created_by %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Updated by:</strong>
    <%= proyecto.updated_by %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Codigo alg:</strong>
    <%= proyecto.Codigo_Alg %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Estado:</strong>
    <%= proyecto.Estado %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cliente:</strong>
    <%= proyecto.cliente.Nombre %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this proyecto", proyecto, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this proyecto', edit_proyecto_path(proyecto), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
