<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center py-5">
    <h1 class="font-bold text-xl">Proyectos</h1>
    <%# <%= link_to 'New proyecto', new_proyecto_path, class: "rounded py-3 px-5 bg-blue-600 block font-medium text-white" %> %>
    <%= link_to 'New proyecto', new_proyecto_path, class: "rounded-lg py-3 px-5 bg-green-300 inline-block font-medium" %>
  </div>

  <%# Results table %>
  <div id="proyectos" class="min-w-full">
    <table class="table-auto">
      <%= render @proyectos %>
    </table>
  </div>

  <%= paginate @proyectos %>

</div>
