<p id="notice"><%= notice %></p>

<h1>Proyectos</h1>

<table>
  <thead>
    <tr>
        <td>Código</td>
        <td>Referencia</td>
        <td>Estado</td>
        <td>Cliente</td>
        <td colspan="3">Acciones</td>
    </tr>
  </thead>

  <tbody>
    <% @proyectos.each do |proyecto| %>
      <tr>
        <td><%= proyecto.Codigo_Alg %></td>
        <td><%= proyecto.Referencia %></td>
        <td><%= proyecto.Estado %></td>
        <td><%= proyecto.cliente.Nombre %></td>
        <td><%= link_to 'Show', proyecto %></td>
        <td><%= link_to 'Edit', edit_proyecto_path(proyecto) %></td>
        <td><%= link_to 'Destroy', proyecto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @proyectos %>

<br>

<%= link_to 'New proyecto', new_proyecto_path %>