<p id="notice"><%= notice %></p>

<h1><%= @proyecto.Codigo_Alg %></h1>

<h2>Detalles del proyecto</h2>

<p><label for="notice">Referencia : <%= @proyecto.Referencia %></p>
<p>Cliente :  <%= @proyecto.cliente.Nombre %></p>
<p>Estado :  <%= @proyecto.Estado %></p>

<h2>Actividad del proyecto</h2>
<table>
<thead>
    <tr>
        <td>Component Id</td>
        <td>Field</td>
        <td>Proyecto_id</td>
    </tr>
</thead>
<table>
    <% @proyecto.components.each do |comp| %>
        <tr>
            <td><%= link_to comp.component_id, component_path(comp) %></td>
            <td><%= comp.field %></td>
            <td><%= comp.proyecto_id %></td>
        </tr>
    <% end %>
</table>


<%= link_to 'Back', proyectos_path %>
