<p id="notice"><%= notice %></p>

<h1><%= @proyecto.Codigo_Alg %></h1>

<h2>Detalles del proyecto</h2>

<p><label for="notice">Referencia : <%= @proyecto.Referencia %></p>
<p>Cliente :  <%= @proyecto.cliente.Nombre %></p>
<p>Estado :  <%= @proyecto.Estado %></p>

<% 
    calculos, changelogs = []
%>
<% @proyecto.components.each do |component| %>
   <% if component.component_type == "components_cambios_changelog_proyectos" %>
        <%= comp.id %>
   <% end %>
<% end %>

<h2>Chagelog</h2>
<%# <%= changelogs %> %>
<h2>Cálculos</h2>
<%# <%= calculos %> %>

<%= link_to 'Back', proyectos_path %>
