<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

  <%# Table %>
  <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">ALG</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Referencia</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Cliente</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Fecha Alta</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Estado</th>
      </tr>
    </thead>
      <%= render @proyecto %>
  </table>

    <%= link_to 'Edit this proyecto', edit_proyecto_path(@proyecto), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this proyecto', proyecto_path(@proyecto), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to proyectos', proyectos_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    
    <br />
    <hr class="py-4">

    <h1 class="py-4 font-medium text-gray-900">Cálculos</h1>
    <%= render @proyecto.calculos %>

  </div>
</div>
