<p id="notice"><%= notice %></p>

<h1 class="text-xl"><%= @proyecto.Codigo_Alg %></h1>

<h2 class="text-lg">Detalles del proyecto</h2>

<p><label for="notice">Referencia : <%= @proyecto.Referencia %></p>
<p>Cliente :  <%= @proyecto.cliente.Nombre %></p>
<p>Estado :  <%= @proyecto.Estado %></p>

<h2 class="text-lg">Actividad del proyecto</h2>
<table>
    <thead>
        <tr>
            <td>Field</td>
            <td>Proyecto_id</td>
        </tr>
    </thead>
    <tbody>
    <% @proyecto.changelogs.each do |chng| %>
        <tr>
            <td><%= chng.Fecha %></td>
            <td><%= chng.Descripcion %></td>                
        </tr>
    <% end %>
    </tbody>
</table>

<h2 class="text-lg">Cálculos del proyecto</h2>
<table>
    <thead>
        <tr>
            <td>Fecha</td>
            <td>Importe Total (Neto)</td>
            <td>Observaciones</td>
        </tr>
    </thead>
    <tbody>
    <% @proyecto.calculos.each do |calc| %>
        <tr>
            <td><%= calc.fecha_calculo %></td>
            <td><%= calc.importe_total_neto %></td>            
            <td><%= calc.observaciones %></td>                
        </tr>
    <% end %>
    </tbody>
</table>



<%= link_to 'Back', proyectos_path, class: "" %>
