<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

  <%# Table %>
  <h1 class="font-bold text-xl"> Proyecto <%= @proyecto.Codigo_Alg %>
  <br /><br />
  <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Código ALG</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Referencia</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Cliente</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Fecha Alta</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Estado</th>
      </tr>
    </thead>
      <%= render @proyecto %>
  </table>

    <%= link_to 'Edit this proyecto', edit_proyecto_path(@proyecto), class: "rounded-lg py-3 px-5 bg-blue-600 text-xs text-white inline-block cursor-pointer visited:text-white  hover:bg-blue-700" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this proyecto', proyecto_path(@proyecto), method: :delete, class: "rounded-lg py-3 px-5 text-xs text-white whitespace-no-wrap bg-red-600 border border-red-700 rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" %>
    </div>
    <%= link_to 'Back to proyectos', proyectos_path, class:  "rounded-lg py-3 px-5 text-xs text-white whitespace-no-wrap bg-gray-600 border border-gray-700 rounded-md shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 visited:text-white" %>
    


    <h1 class="text-xl py-4 font-medium text-gray-900 font-medium"><%= print 'Calculos' %></h1>
    <%= render @proyecto.calculos %>

    <%= link_to 'Nuevo cálculo', new_calculo_path, class: "rounded-lg py-3 px-5 text-xs text-white whitespace-no-wrap bg-green-600 border border-green-700 rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>

  </div>
</div>
