
<p><%= @component.id %></p>
<p><%= @component.component_type %></p>
<p><%= @component.component_id %></p>

<%# Fetch component data %>
<p>
   <%# <%= @component_data.Fecha_Cambio %> %>
   <br>
   <%# <%= @component_data.Descripcion_Cambio %> %>
</p>
