<div id="<%= dom_id calculo %>">

<%# TABLE %>
<table class="min-w-full border text-center text-sm font-light dark:border-neutral-500" id="<%= calculo.id %>">
  <thead class="border-b font-medium dark:border-neutral-500">
    <tr>
      <th scope="col" class="px-6 py-4"><%= calculo.fecha_calculo %></th>
      <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500"><%= calculo.id %></th>
    </tr>
  </thead>
  <tbody>
    <tr class="border-b dark:border-neutral-500">
      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Acabado </td>
      <td class="whitespace-nowrap px-6 py-4"><%= calculo.acabado %></td>
    </tr>
    <tr class="border-b dark:border-neutral-500">
      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Descuento</td>
      <td class="whitespace-nowrap px-6 py-4"><%= calculo.descuento %></td>
    </tr>
    <tr class="border-b dark:border-neutral-500">
      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Total perfiles</td>
      <td class="whitespace-nowrap px-6 py-4"><%= calculo.importe_perfiles %></td>
    </tr>
    <tr class="border-b dark:border-neutral-500">
      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Total Accesorios</td>
      <td class="whitespace-nowrap px-6 py-4"><%= calculo.importe_accesorios %></td>
    </tr>
    <tr class="border-b dark:border-neutral-500">
      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Total Neto</td>
      <td class="whitespace-nowrap px-6 py-4"><%= calculo.importe_total_neto %></td>
    </tr>
    <tr class="border-b dark:border-neutral-500">
      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Observaciones</td>
      <td class="whitespace-nowrap px-6 py-4"><%= calculo.observaciones %></td>
    </tr>
  </tbody>
</table>
<%# /TABLE %>

  <%# <% if action_name != "show" %> %>
    <%= link_to "Show this calculo", calculo, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this calculo', edit_calculo_path(calculo), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <%# <% end %> %>
</div>
