<div id="<%= dom_id calculo %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Proyecto:</strong>
    <%= calculo.proyecto_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Acabado:</strong>
    <%= calculo.acabado %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Descuento:</strong>
    <%= calculo.descuento %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Importe perfiles:</strong>
    <%= calculo.importe_perfiles %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Importe accesorios:</strong>
    <%= calculo.importe_accesorios %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Importe total neto:</strong>
    <%= calculo.importe_total_neto %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Observaciones:</strong>
    <%= calculo.observaciones %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fecha calculo:</strong>
    <%= calculo.fecha_calculo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Carpinteria:</strong>
    <%= calculo.carpinteria %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this calculo", calculo, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this calculo', edit_calculo_path(calculo), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
