<div id="<%= dom_id calculo %>">

<%# TABLE %>
<table class="min-w-full border text-center text-sm font-light dark:border-neutral-500" id="<%= calculo.id %>">
  <thead class="border-b font-medium dark:border-neutral-500">
    <tr>
      <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500"><%= calculo.id %></th>
      <th scope="col" class="px-6 py-4"><%= calculo.fecha_calculo %></th>
    </tr>
  </thead>
  <tbody>
    <tr class="border-b dark:border-neutral-500">
      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">1 </td>
      <td class="whitespace-nowrap px-6 py-4">@mdo</td>
    </tr>
    <tr class="border-b dark:border-neutral-500">
      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">2</td>
      <td class="whitespace-nowrap px-6 py-4">@fat</td>
    </tr>
    <tr class="border-b dark:border-neutral-500">
      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">3</td>
      <td class="whitespace-nowrap px-6 py-4">@twitter</td>
    </tr>
  </tbody>
</table>

<%# /TABLE %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Proyecto:</strong>
    <%= calculo.proyecto_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Acabado:</strong>
    <%= calculo.acabado %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Descuento:</strong>
    <%= calculo.descuento %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Importe perfiles:</strong>
    <%= calculo.importe_perfiles %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Importe accesorios:</strong>
    <%= calculo.importe_accesorios %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Importe total neto:</strong>
    <%= calculo.importe_total_neto %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Observaciones:</strong>
    <%= calculo.observaciones %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fecha calculo:</strong>
    <%= calculo.fecha_calculo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Carpinteria:</strong>
    <%= calculo.carpinteria %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this calculo", calculo, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this calculo', edit_calculo_path(calculo), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
